florent.clarret@datadoghq.com namespaces="git" {{ onepasswordRead (print "op://private/MacBookPro M4 - ddoghq/public key") $.email.work }}
florent.clarret@datadoghq.com namespaces="git" {{ onepasswordRead (print "op://private/MacBookPro M4/public key") $.email.work }}
