{{ onepasswordRead (print "op://private/MacBookPro M4 - ddoghq/email") $.email.work }} namespaces="git" {{ onepasswordRead (print "op://private/MacBookPro M4 - ddoghq/public key") $.email.work }}
{{ onepasswordRead (print "op://private/MacBookPro M4/email") $.email.work }} namespaces="git" {{ onepasswordRead (print "op://private/MacBookPro M4/public key") $.email.work }}
