[user]
    email = {{ .email.perso }}
{{- if eq .hostname .hostnames.work.m4 }}
    signingkey = {{ .key.perso.m4 }}
{{- else if eq .hostname .hostnames.perso.macbook }}
    signingkey = {{ onepasswordRead (print "op://private/MacBookPro M1/public key") $.onepassword.perso }}
{{ end }}

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
