[user]
    email = {{ .email.work }}
    signingkey = {{ onepasswordRead (print "op://private/MacBookPro M4/public key") $.email.work }}

[gpg "ssh"]
	allowedSignersFile = .config/git/allowed_signers

[url "git@github-emu:ddoghq/"]
    insteadOf = git@github.com:ddoghq/

[url "git@github-emu:florent-clarret_ddog/"]
    insteadOf = git@github.com:florent-clarret_ddog/

[includeIf "gitdir:~/Documents/Perso/**"]
    path = .config/git/gitconfig-perso.toml

[includeIf "gitdir:~/.local/share/chezmoi/**"]
    path = .config/git/gitconfig-perso.toml

[includeIf "hasconfig:remote.*.url:git@github.com:ddoghq/**"]
    path = .config/git/gitconfig-work-ddoghq.toml
[includeIf "hasconfig:remote.*.url:git@github-emu:ddoghq//**"]
    path = .config/git/gitconfig-work-ddoghq.toml
[includeIf "hasconfig:remote.*.url:https://github.com/ddoghq/**"]
    path = .config/git/gitconfig-work-ddoghq.toml
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/ddoghq/**"]
    path = .config/git/gitconfig-work-ddoghq.toml
