{{- $orgs := list "ddoghq" "florent-clarret_ddog" -}}
{{- $remotePatterns := list "git@github.com:%s/**" "git@github-emu:%s/**" "ssh://git@github.com/%s/**" "ssh://git@github-emu/%s/**" "https://github.com/%s/**" -}}
[user]
    email = {{ .email.work }}
    signingkey = {{ onepasswordRead (print "op://private/MacBookPro M4/public key") $.email.work }}

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
{{ range $org := $orgs }}
[url "git@github-emu:{{ $org }}/"]
    insteadOf = git@github.com:{{ $org }}/
{{ end }}
[includeIf "gitdir:~/Documents/Perso/**"]
    path = ~/.config/git/gitconfig-perso.toml

[includeIf "gitdir:~/.local/share/chezmoi/**"]
    path = ~/.config/git/gitconfig-perso.toml

{{ range $org := $orgs -}}
{{ range $pattern := $remotePatterns -}}
[includeIf "hasconfig:remote.*.url:{{ printf $pattern $org }}"]
    path = ~/.config/git/gitconfig-work-ddoghq.toml
{{ end -}}
{{ end -}}
