[user]
    email = {{ .email.work }}
    signingkey = {{ .key.work.primary }}

[url "git@github-emu:ddoghq/"]
    insteadOf = git@github.com:ddoghq/

[url "git@github-emu:florent-clarret_ddog/"]
    insteadOf = git@github.com:florent-clarret_ddog/

[gpg]
    program = /opt/homebrew/bin/gpg

[includeIf "gitdir:~/Documents/Personal/**"]
    path = .config/git/gitconfig-perso.toml

[includeIf "gitdir:~/.local/share/chezmoi/**"]
    path = .config/git/gitconfig-perso.toml
