# https://www.chezmoi.io/reference/special-files/chezmoi-format-tmpl/

{{/* boolean feature tags */}}
{{- $personal := true -}}
{{- "" -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   $hostname = $computerName -}}
{{- end -}}

{{- if eq $hostname "COMP_G1V603QMGK" -}}
{{-   $personal = false -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
[pinentry]
    command = "pinentry-mac"
{{ end }}
[data]
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    work = {{ not $personal }}

[data.email]
    perso = "florent.clarret@gmail.com"
    work = "florent.clarret@datadoghq.com"

[data.hostnames]
    macbook = "Florent’s MacBook Pro"
    mac-mini = "mac-mini"
    m4 = "COMP_G1V603QMGK"

[diff]
    pager = ""

verbose = true
