#!/bin/bash

echo "> Running $(basename "$0") "

set -eufo pipefail

{{ $packages := list -}}

{{ if .work -}}
{{ $packages = concat $packages (list "datadog") -}}
{{ end -}}

{{ range ($packages | sortAlpha | uniq) -}}
pipx install "{{ . }}" --force
{{ end -}}
