{{- $hosts := list "lightning" "latitude" "mac-mini" "windows" "server" -}}
{{- range ($hosts | sortAlpha | uniq) -}}
{{ onepasswordRead  (print "op://network/" . "/public key") $.onepassword.perso }}
{{ end -}}
