HashKnownHosts yes

{{- if .work }}
Include 1Password/config
{{- end }}

Include config.d/00-default
Include config.d/01-git
Include config.d/02-home
Include config.d/03-external

Host *                  # apply to all hosts
# have the ssh command auto-add on first use
    AddKeysToAgent yes
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Include ~/.colima/ssh_config

{{- if .work }}

# BEGIN ANSIBLE MANAGED BLOCK
Host *
# IPv4 only for speed
AddressFamily inet
Compression yes
ControlMaster auto
ControlPath /tmp/ssh_mux_%n_%p_%r
ControlPersist 10m
# send a keep-alive after 5s of inactivity
ServerAliveInterval 5
ServerAliveCountMax 1
ConnectTimeout 10
# END ANSIBLE MANAGED BLOCK
{{- end }}
