#!/usr/bin/env zsh

alias ..='cd ../'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'

alias cdssh='cd ~/.ssh'

{{ if .work -}}
alias cddd='cd ~/dd'

## Fetch repositories create an alias to cd to them
if [[ -d ~/dd ]]; then
  for dir in $(ls ~/dd/); do
    if [[ -d ~/dd/$dir ]]; then
      eval alias "$dir=\"cd ~/dd/$dir\""
    fi
  done
fi

{{ end -}}
