#!/usr/bin/env zsh

alias ..='cd ../'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'

alias cdssh='cd ~/.ssh'

cd() {
  # If given a file path, cd to its parent directory. ${1:h} is zsh's :h modifier
  # (borrowed from vi), which strips the trailing filename component — like dirname.
  if [[ $# -eq 1 && -f "$1" ]]; then
    builtin cd "${1:h}"
  else
    builtin cd "$@"
  fi
}

{{ if .work -}}
alias cddd='cd ~/dd'

## Fetch repositories create an alias to cd to them
if [[ -d ~/dd ]]; then
  for dir in $(ls ~/dd/); do
    if [[ -d ~/dd/$dir ]]; then
      eval alias "$dir=\"cd ~/dd/$dir\""
    fi
  done
fi

{{ end -}}
