{
  "branchPrefix": "florent.clarret-graphite/",
  "branchDate": false,
  "tips": true,
  "authToken": "{{ onepasswordRead (print "op://qcnhjk5jdsit72oey2qxmgjufu/koiki6nktfa3rm5c6syap4bhju/graphite-token") $.email.perso }}"
}
